body {
    margin: 0;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw
}
.parallax:nth-of-type(1) {
    background-image: url('../img/professor-not-appearing-in-this-book-4.png');
}
.parallax:nth-of-type(2) {
    background-image: url('../img/phoebe-aha-hab-coat.png');
}
.parallax:nth-of-type(3) {
    background-image: url('../img/professor-not-appearing-in-this-book-4.png');
}
.parallax:nth-of-type(4) {
    background-image: url('../img/phoebe-aha-hab-coat.png');
}