.patternDescription {
  margin-top: 16px;
  margin-bottom: 16px;
}

.socialIcons {
  color: white;
}

.socialIcons:hover {
  color: orange;
}

.patternSubtitle {
  margin-top: 16px;
  margin-bottom: 48px;
}

.bigLetter {
  font-size: 48px;
}

.bigLetterBox {
  text-align: center;
  border: 3px solid black;
  max-width: 240px;
  max-height: 180px;
  margin: 0 auto;
}

.message-body {
  min-height: 270px;
}

.dynamic-type {
  min-height:150px;
}

.source {
  font-family: 'Source Sans Pro', sans-serif;
}